<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>498336876169-c0tedkl028ga401h2qj4g4gelnr68pen.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.498336876169-c0tedkl028ga401h2qj4g4gelnr68pen</string>
	<key>API_KEY</key>
	<string>AIzaSyA8IuxX8MI39hgPfa8CJLa0GeqLtQXHdXo</string>
	<key>GCM_SENDER_ID</key>
	<string>498336876169</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>cornell.dti.com.EventsManager</string>
	<key>PROJECT_ID</key>
	<string>propane-melody-209519</string>
	<key>STORAGE_BUCKET</key>
	<string>propane-melody-209519.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:498336876169:ios:8230c88e2b1f60c4</string>
	<key>DATABASE_URL</key>
	<string>https://propane-melody-209519.firebaseio.com</string>
</dict>
</plist>