<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>498336876169-c0tedkl028ga401h2qj4g4gelnr68pen.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.498336876169-c0tedkl028ga401h2qj4g4gelnr68pen</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>498336876169-t17se26b9lcqjnie8oj437ki96ljcjip.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyANh000qMZ3qXKNEnZTUa3GSxnKfBZ9Kbw</string>
	<key>GCM_SENDER_ID</key>
	<string>498336876169</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dti.cornell.events</string>
	<key>PROJECT_ID</key>
	<string>propane-melody-209519</string>
	<key>STORAGE_BUCKET</key>
	<string>propane-melody-209519.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:498336876169:ios:dc1316f8f49e7112152858</string>
	<key>DATABASE_URL</key>
	<string>https://propane-melody-209519.firebaseio.com</string>
</dict>
</plist>